.btn {
	font-size: 14px;
	font-weight: 700;
	padding: 15px;
	min-width: 185px;
	border-radius: 25px;
	border: none;

	&:hover,
	&:focus {
		cursor: pointer;
	}
}

.btn__primary {
	background: #FAC663;

	&:hover,
	&:focus {
		background: #FAC643;
	}
}

.btn__secondary {
	background: #FFFFFF;
	border: 2px solid #FAC663;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&:hover,
	&:focus {
		background: rgba(250,198,99, .1)
	}
}