.checkbox {
	display: flex;
	margin-bottom: 15px;
	
	&:hover,
	&:focus {
		cursor: pointer;
	}
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  margin-right: 10px;

  &:checked + .checkbox__content {
    .checkbox__btn {

			&:after {
				opacity: 1;
			}

    }
  }
}

.checkbox__content {
  display: flex;
}

.checkbox__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
	background-color: #fff;
	border: 1px solid #E1E1E1;
	margin-right: 10px;
	
	&:after {
		content: "";
		display: block;
		width: 9px;
		height: 6px;
		border: none;
		border-left: 1px solid #141312;
		border-bottom: 1px solid #141312;
		transform: rotate(-45deg);
		opacity: 0;
	}

}

.checkbox__text {
	font-size: 14px;
}


